# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
desktop-dist
dist-ssr
*.local
.env.public
.env.public.local
.env.docker
docker-data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.expo/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
